In [ ]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [1]:
from ast import literal_eval
from math import log10, log

from IPython.display import Markdown, display, HTML
import pandas as pd

past_queries = ['criativo','Instagram','reprodução','real','hostil']

In [2]:
inv_index = pd.read_csv("../output/inverted_index.csv").set_index(['word']).drop('vivoÉ') #remove tokenization mistake
inv_index["doc_id:freq"] = inv_index["doc_id:freq"].apply(lambda x: literal_eval(x))
inv_index.head(20)

                                                     doc_id:freq
word
juíza                                           [(0, 2), (1, 1)]
federal        [(0, 1), (1, 1), (2, 1), (6, 2), (14, 1), (36,...
Ivani                                           [(0, 1), (1, 1)]
Silva          [(0, 3), (1, 1), (5, 1), (13, 2), (25, 1), (72...
Luz                                   [(0, 3), (1, 1), (124, 1)]
Brasília       [(0, 1), (7, 1), (32, 1), (34, 1), (43, 1), (4...
proibiu                     [(0, 1), (1, 1), (118, 1), (161, 1)]
caráter        [(0, 1), (14, 1), (35, 1), (59, 1), (88, 1), (...
liminar                     [(0, 1), (1, 3), (118, 1), (216, 1)]
sexta-feira    [(0, 2), (1, 1), (22, 1), (30, 1), (35, 1), (5...
Forças         [(0, 3), (5, 3), (11, 1), (24, 4), (41, 1), (6...
Armadas        [(0, 3), (5, 3), (11, 1), (24, 4), (41, 1), (6...
comemorarem                         [(0, 1), (165, 1), (217, 1)]
especialmente  [(0, 1), (1, 1), (9, 1), (10, 1), (11, 1), (55...
uso            [(0, 1), (1, 1), (10, 1), (11, 2), (17, 1), (1...
dinheiro       [(0, 1), (1, 1), (9, 1), (12, 1), (13, 2), (25...
público        [(0, 1), (1, 1), (6, 2), (8, 1), (10, 1), (11,...
55º                                 [(0, 1), (171, 2), (173, 1)]
aniversário    [(0, 1), (5, 2), (19, 1), (33, 1), (79, 1), (9...
golpe          [(0, 4), (1, 2), (2, 7), (24, 13), (82, 1), (9...

In [3]:
def mim(**kwargs):
    n_ab = kwargs["n_ab"]
    n_b = kwargs["n_b"]
    n_a = kwargs["n_a"]
    
    return n_ab/(n_a * n_b)

def dice_coef(**kwargs):
    n_ab = kwargs["n_ab"]
    n_b = kwargs["n_b"]
    n_a = kwargs["n_a"]

    return n_ab/(n_a + n_b)

def emim(**kwargs):
    N = 10e6 if 'N' not in kwargs else kwargs["N"]
    n_ab = kwargs["n_ab"]
    n_b = kwargs["n_b"]
    n_a = kwargs["n_a"]
    result = 0 if n_ab == 0 else \
             n_ab * log10(N * (n_ab / (n_a * n_b)))
    
    return result

def chi_square(**kwargs):
    N = 10e6 if 'N' not in kwargs else kwargs["N"]
    n_ab = kwargs["n_ab"]
    n_b = kwargs["n_b"]
    n_a = kwargs["n_a"]

    return pow((n_ab - (1/N) * n_a * n_b),2) / (n_a * n_b)

In [4]:
from bisect import insort_left


def n_most_related(n=10,**kwargs):
    metric = kwargs.pop("metric")
    index = kwargs.pop("df")
    A = kwargs.pop("A")    
    words = index.drop(A).reset_index()["word"].values
    rank = []
    
    for word in words:
        n_a = index.xs(A).values[0]
        n_b = index.xs(word).values[0]
        n_ab = [val1 for (val1,val2) in n_a if val1 \
            in (val1 for (val1,val2) in n_b)]
        kwargs["n_ab"] = len(n_ab)
        kwargs["n_a"] = len(n_a)
        kwargs["n_b"] = len(n_b)   
        insort_left(rank, (metric(**kwargs),word))
        rank = rank[-n:]
    
    return rank

In [5]:
metrics = [mim,emim,chi_square,dice_coef]
columns=["MIM","EMIM","Chi-Squared","Dice"]
rows = []

for metric in metrics:
    top_10 = n_most_related(df=inv_index,A='Instagram',
                            metric=metric,n=10)
    top_10 = list(reversed(top_10))
    top_10 = [i[1] for i in top_10]
    
    rows.append(top_10)
    
display(Markdown("***"))
display(Markdown("### Results for 'Instagram'"))
display(HTML(pd.DataFrame(list(zip(*rows)), columns=columns).to_html(index=False)))
display(Markdown("***"))

***

### Results for 'Instagram'

***

In [6]:
metrics = [mim,emim,chi_square,dice_coef]
columns=["MIM","EMIM","Chi-Squared","Dice"]
rows = []

for metric in metrics:
    top_10 = n_most_related(df=inv_index,A='criativo',
                            metric=metric,n=10)
    top_10 = list(reversed(top_10))
    top_10 = [i[1] for i in top_10]
    
    rows.append(top_10)
    
display(Markdown("***"))
display(Markdown("### Results for 'criativo'"))
display(HTML(pd.DataFrame(list(zip(*rows)), columns =columns).to_html(index=False)))
display(Markdown("***"))

***

### Results for 'criativo'

***

* *EMIM* is the only algorithm whose result differs from the rest, being the less coherent at that.

In [7]:
metrics = [mim,emim,chi_square,dice_coef]
columns=["MIM","EMIM","Chi-Squared","Dice"]
rows = []

for metric in metrics:
    top_10 = n_most_related(df=inv_index,A='reprodução',
                            metric=metric,n=10)
    top_10 = list(reversed(top_10))
    top_10 = [i[1] for i in top_10]
    
    rows.append(top_10)
    
display(Markdown("***"))
display(Markdown("### Results for 'reprodução'"))
display(HTML(pd.DataFrame(list(zip(*rows)), columns =columns).to_html(index=False)))
display(Markdown("***"))

***

### Results for 'reprodução'

***

In [8]:
metrics = [mim,emim,chi_square,dice_coef]
columns=["MIM","EMIM","Chi-Squared","Dice"]
rows = []

for metric in metrics:
    top_10 = n_most_related(df=inv_index,A='real',
                            metric=metric,n=10)
    top_10 = list(reversed(top_10))
    top_10 = [i[1] for i in top_10]
    
    rows.append(top_10)
    
display(Markdown("***"))
display(Markdown("### Results for 'real'"))
display(HTML(pd.DataFrame(list(zip(*rows)), columns =columns).to_html(index=False)))
display(Markdown("***"))

***

### Results for 'real'

***

In [9]:
metrics = [mim,emim,chi_square,dice_coef]
columns=["MIM","EMIM","Chi-Squared","Dice"]
rows = []

for metric in metrics:
    top_10 = n_most_related(df=inv_index,A='hostil',
                            metric=metric,n=10)
    top_10 = list(reversed(top_10))
    top_10 = [i[1] for i in top_10]
    
    rows.append(top_10)
    
display(Markdown("***"))
display(Markdown("### Results for 'hostil'"))
display(HTML(pd.DataFrame(list(zip(*rows)), columns =columns).to_html(index=False)))
display(Markdown("***"))

***

### Results for 'hostil'

***

### Document At A Time Retrieval

In [10]:
def retrieve_by_doc(index, query, k):
    try:
        import Queue as Q  # ver. < 3.0
    except ImportError:
        import queue as Q

    result = []
    q = Q.PriorityQueue()
    L = index.loc[lambda df: df.word.isin(query)]

    all_docs = set(index["doc_id:freq"].\
                   apply(lambda pairs: list(doc_id for doc_id, freq in pairs)).sum())
    
    base_documents = L["doc_id:freq"].sum()
    
    for doc in all_docs:
        score = base_documents
        
        if score == 0:
            pass
        
        elif score == []:
            score = 0
        else:
            score = [fq for d_id, fq in score if d_id == doc]
            if score != []:
                score = reduce(lambda a,b : a+b,score)
            else:
                score = 0
                
        q.put(((-1) * score,doc))
    
    i = 0
    while not q.empty() and i < k:
        pair = q.get()
        pair = ((-1) *pair[0],pair[1])
        if pair[0] > 0:
            result.append(pair)
        i += 1
        
    return result

### Term At A Time Retrieval

In [11]:
def retrieve_by_term(index, query, k):
    try:
        import Queue as Q  # ver. < 3.0
    except ImportError:
        import queue as Q

    A = {}
    result = []
    R = Q.PriorityQueue()
    q = Q.PriorityQueue()
    L = index.loc[lambda df: df.word.isin(query)]
    
    if not L.empty: 
        for doc_id, freq in L["doc_id:freq"].sum():
            if doc_id not in A:
                A[doc_id] = 0

            A[doc_id] += freq

        for doc_id, score in A.items():
            q.put(((-1) * score,doc_id))    

        i = 0
        while not q.empty() and i < k:
            pair = q.get()
            pair = ((-1) *pair[0],pair[1])
            result.append(pair)
            i += 1
    
    return result