In [2]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [14]:
from ast import literal_eval
from math import log10, log

import pandas as pd

N = 10e6
past_queries = ['criativo','Instagram','reprodução','real','hostil']

In [3]:
inv_index = pd.read_csv("../output/inverted_index.csv").set_index(['word'])
inv_index["doc_id:freq"] = inv_index["doc_id:freq"].apply(lambda x: literal_eval(x))
inv_index.head(20)

                                                     doc_id:freq
word
juíza                                           [(0, 2), (1, 1)]
federal        [(0, 1), (1, 1), (2, 1), (6, 2), (14, 1), (36,...
Ivani                                           [(0, 1), (1, 1)]
Silva          [(0, 3), (1, 1), (5, 1), (13, 2), (25, 1), (72...
Luz                                   [(0, 3), (1, 1), (124, 1)]
Brasília       [(0, 1), (7, 1), (32, 1), (34, 1), (43, 1), (4...
proibiu                     [(0, 1), (1, 1), (118, 1), (161, 1)]
caráter        [(0, 1), (14, 1), (35, 1), (59, 1), (88, 1), (...
liminar                     [(0, 1), (1, 3), (118, 1), (216, 1)]
nesta          [(0, 2), (3, 1), (7, 1), (21, 1), (22, 1), (23...
sexta-feira    [(0, 2), (1, 1), (22, 1), (30, 1), (35, 1), (5...
Forças         [(0, 3), (5, 3), (11, 1), (24, 4), (41, 1), (6...
Armadas        [(0, 3), (5, 3), (11, 1), (24, 4), (41, 1), (6...
comemorarem                         [(0, 1), (165, 1), (217, 1)]
especialmente  [(0, 1), (1, 1), (9, 1), (10, 1), (11, 1), (55...
uso            [(0, 1), (1, 1), (10, 1), (11, 2), (17, 1), (1...
dinheiro       [(0, 1), (1, 1), (9, 1), (12, 1), (13, 2), (25...
público        [(0, 1), (1, 1), (6, 2), (8, 1), (10, 1), (11,...
55º                                 [(0, 1), (171, 2), (173, 1)]
aniversário    [(0, 1), (5, 2), (19, 1), (33, 1), (79, 1), (9...

In [4]:
n_a = inv_index.xs('Brasília').values[0]
n_b = inv_index.xs('proibiu').values[0]
n_ab = [val1 for (val1,val2) in n_a if val1 \
        in (val1 for (val1,val2) in n_b)]
n_ab = len(n_ab)
n_a = len(n_a)
n_b = len(n_b)

In [15]:
mim = n_ab/(n_a * n_b)
dice = n_ab/(n_a + n_b)
emim = n_ab * log10(N * (n_ab / (n_a * n_b)))
chi_square = pow((n_ab - (1/N) * n_a * n_b),2) / (n_a * n_b)

print("MIM: {}".format(mim))
print("EMIM: {}".format(emim))
print("Chi-square: {}".format(chi_square))
print("Dice: {}".format(dice))

MIM: 0.017857142857142856
EMIM: 10.503623945987599
Chi-square: 0.035713885715405715
Dice: 0.0625