In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

# Vector Model

In [8]:
from ast import literal_eval
from math import log

from IPython.display import Markdown, display, HTML
import pandas as pd

## Load Data

In [3]:
inv_index = pd.read_csv("../output/inverted_index.csv").set_index(['word'])\
            .drop('vivoÉ').drop('ônibusFoi') #remove nltk tokenization mistake
inv_index["doc_id:freq"] = inv_index["doc_id:freq"].apply(lambda x: literal_eval(x))
display(Markdown("## Inverted Index"))

inv_index.head(5)

## Inverted Index

                                               doc_id:freq
word
juíza                                     [(0, 2), (1, 1)]
federal  [(0, 1), (1, 1), (2, 1), (6, 2), (14, 1), (36,...
Ivani                                     [(0, 1), (1, 1)]
Silva    [(0, 3), (1, 1), (5, 1), (13, 2), (25, 1), (72...
Luz                             [(0, 3), (1, 1), (124, 1)]

## Adding Inverse Document Frequency  (IDF)

In [4]:
# number of documents in the collection
n_docs = inv_index["doc_id:freq"].apply(lambda x: list(i[0] for i in x)).sum()
n_docs = len(set(n_docs))
display(Markdown("* Let's employ the number  of documents in this particular \
                  collection (N={}) in our calculations".format(n_docs)))

* Let's employ the number  of documents in this particular                   collection (N=249) in our calculations

In [11]:
inv_index["IDF"] = inv_index["doc_id:freq"].apply(lambda x: log((n_docs + 1)/len(x)))
inv_index.sample(5)

                             doc_id:freq       IDF
word
domicílio                     [(124, 1)]  5.521461
corajoso                       [(78, 1)]  5.521461
ratificar             [(20, 1), (62, 1)]  4.828314
propusessem                    [(62, 1)]  5.521461
Ellen        [(8, 1), (10, 1), (216, 7)]  4.422849